In [1]:
import pandas as pd
import matplotlib.pyplot as md
import numpy as nm
import seaborn as sm

In [2]:
books = pd.read_csv('data/BX-Books.csv', sep=";", encoding='latin-1', on_bad_lines='skip', low_memory=False)

In [3]:
print(books)

              ISBN                                         Book-Title  \
0       0195153448                                Classical Mythology
1       0002005018                                       Clara Callan
2       0060973129                               Decision in Normandy
3       0374157065  Flu: The Story of the Great Influenza Pandemic...
4       0393045218                             The Mummies of Urumchi
...            ...                                                ...
271355  0440400988                         There's a Bat in Bunk Five
271356  0525447644                            From One to One Hundred
271357  006008667X  Lily Dale : The True Story of the Town that Ta...
271358  0192126040                        Republic (World's Classics)
271359  0767409752  A Guided Tour of Rene Descartes' Meditations o...

                 Book-Author Year-Of-Publication  \
0         Mark P. O. Morford                2002
1       Richard Bruce Wright                2001
2               Carlo D'Este                1991
3           Gina Bari Kolata                1999
4            E. J. W. Barber                1999
...                      ...                 ...
271355        Paula Danziger                1988
271356            Teri Sloat                1991
271357      Christine Wicker                2004
271358                 Plato                1996
271359   Christopher  Biffle                2000

                                               Publisher  \
0                                Oxford University Press
1                                  HarperFlamingo Canada
2                                        HarperPerennial
3                                   Farrar Straus Giroux
4                             W. W. Norton &amp; Company
...                                                  ...
271355                   Random House Childrens Pub (Mm)
271356                                      Dutton Books
271357                                HarperSanFrancisco
271358                           Oxford University Press
271359  McGraw-Hill Humanities/Social Sciences/Languages

                                              Image-URL-S  \
0       http://images.amazon.com/images/P/0195153448.0...
1       http://images.amazon.com/images/P/0002005018.0...
2       http://images.amazon.com/images/P/0060973129.0...
3       http://images.amazon.com/images/P/0374157065.0...
4       http://images.amazon.com/images/P/0393045218.0...
...                                                   ...
271355  http://images.amazon.com/images/P/0440400988.0...
271356  http://images.amazon.com/images/P/0525447644.0...
271357  http://images.amazon.com/images/P/006008667X.0...
271358  http://images.amazon.com/images/P/0192126040.0...
271359  http://images.amazon.com/images/P/0767409752.0...

                                              Image-URL-M  \
0       http://images.amazon.com/images/P/0195153448.0...
1       http://images.amazon.com/images/P/0002005018.0...
2       http://images.amazon.com/images/P/0060973129.0...
3       http://images.amazon.com/images/P/0374157065.0...
4       http://images.amazon.com/images/P/0393045218.0...
...                                                   ...
271355  http://images.amazon.com/images/P/0440400988.0...
271356  http://images.amazon.com/images/P/0525447644.0...
271357  http://images.amazon.com/images/P/006008667X.0...
271358  http://images.amazon.com/images/P/0192126040.0...
271359  http://images.amazon.com/images/P/0767409752.0...

                                              Image-URL-L
0       http://images.amazon.com/images/P/0195153448.0...
1       http://images.amazon.com/images/P/0002005018.0...
2       http://images.amazon.com/images/P/0060973129.0...
3       http://images.amazon.com/images/P/0374157065.0...
4       http://images.amazon.com/images/P/0393045218.0...
...                                                   ...
271355  http://images.amazon.com/images/P/0440400988.0...
271356  http://images.amazon.com/images/P/0525447644.0...
271357  http://images.amazon.com/images/P/006008667X.0...
271358  http://images.amazon.com/images/P/0192126040.0...
271359  http://images.amazon.com/images/P/0767409752.0...

[271360 rows x 8 columns]

In [4]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [5]:
books.shape

(271360, 8)

In [6]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [7]:
books.rename(columns={
    "Book-Title": "title",
    "Book-Author": 'author',
    'Year-Of-Publication': "year",
    "Publisher": "publication",
    'Image-URL-L': "img_url"}, inplace = True)

In [8]:
books.head(2)

,ISBN,title,author,year,publication,Image-URL-S,Image-URL-M,img_url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [9]:
print(books)

              ISBN                                              title  \
0       0195153448                                Classical Mythology
1       0002005018                                       Clara Callan
2       0060973129                               Decision in Normandy
3       0374157065  Flu: The Story of the Great Influenza Pandemic...
4       0393045218                             The Mummies of Urumchi
...            ...                                                ...
271355  0440400988                         There's a Bat in Bunk Five
271356  0525447644                            From One to One Hundred
271357  006008667X  Lily Dale : The True Story of the Town that Ta...
271358  0192126040                        Republic (World's Classics)
271359  0767409752  A Guided Tour of Rene Descartes' Meditations o...

                      author  year  \
0         Mark P. O. Morford  2002
1       Richard Bruce Wright  2001
2               Carlo D'Este  1991
3           Gina Bari Kolata  1999
4            E. J. W. Barber  1999
...                      ...   ...
271355        Paula Danziger  1988
271356            Teri Sloat  1991
271357      Christine Wicker  2004
271358                 Plato  1996
271359   Christopher  Biffle  2000

                                             publication  \
0                                Oxford University Press
1                                  HarperFlamingo Canada
2                                        HarperPerennial
3                                   Farrar Straus Giroux
4                             W. W. Norton &amp; Company
...                                                  ...
271355                   Random House Childrens Pub (Mm)
271356                                      Dutton Books
271357                                HarperSanFrancisco
271358                           Oxford University Press
271359  McGraw-Hill Humanities/Social Sciences/Languages

                                              Image-URL-S  \
0       http://images.amazon.com/images/P/0195153448.0...
1       http://images.amazon.com/images/P/0002005018.0...
2       http://images.amazon.com/images/P/0060973129.0...
3       http://images.amazon.com/images/P/0374157065.0...
4       http://images.amazon.com/images/P/0393045218.0...
...                                                   ...
271355  http://images.amazon.com/images/P/0440400988.0...
271356  http://images.amazon.com/images/P/0525447644.0...
271357  http://images.amazon.com/images/P/006008667X.0...
271358  http://images.amazon.com/images/P/0192126040.0...
271359  http://images.amazon.com/images/P/0767409752.0...

                                              Image-URL-M  \
0       http://images.amazon.com/images/P/0195153448.0...
1       http://images.amazon.com/images/P/0002005018.0...
2       http://images.amazon.com/images/P/0060973129.0...
3       http://images.amazon.com/images/P/0374157065.0...
4       http://images.amazon.com/images/P/0393045218.0...
...                                                   ...
271355  http://images.amazon.com/images/P/0440400988.0...
271356  http://images.amazon.com/images/P/0525447644.0...
271357  http://images.amazon.com/images/P/006008667X.0...
271358  http://images.amazon.com/images/P/0192126040.0...
271359  http://images.amazon.com/images/P/0767409752.0...

                                                  img_url
0       http://images.amazon.com/images/P/0195153448.0...
1       http://images.amazon.com/images/P/0002005018.0...
2       http://images.amazon.com/images/P/0060973129.0...
3       http://images.amazon.com/images/P/0374157065.0...
4       http://images.amazon.com/images/P/0393045218.0...
...                                                   ...
271355  http://images.amazon.com/images/P/0440400988.0...
271356  http://images.amazon.com/images/P/0525447644.0...
271357  http://images.amazon.com/images/P/006008667X.0...
271358  http://images.amazon.com/images/P/0192126040.0...
271359  http://images.amazon.com/images/P/0767409752.0...

[271360 rows x 8 columns]

In [10]:
users = pd.read_csv('data/BX-Users.csv', sep=";", encoding='latin-1', on_bad_lines='skip', low_memory=False)

In [11]:
users = pd.read_csv('data/BX-Users.csv', sep=";", encoding='latin-1', on_bad_lines='skip', low_memory=False)

In [12]:
print(users)

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [13]:
print(books)

              ISBN                                              title  \
0       0195153448                                Classical Mythology
1       0002005018                                       Clara Callan
2       0060973129                               Decision in Normandy
3       0374157065  Flu: The Story of the Great Influenza Pandemic...
4       0393045218                             The Mummies of Urumchi
...            ...                                                ...
271355  0440400988                         There's a Bat in Bunk Five
271356  0525447644                            From One to One Hundred
271357  006008667X  Lily Dale : The True Story of the Town that Ta...
271358  0192126040                        Republic (World's Classics)
271359  0767409752  A Guided Tour of Rene Descartes' Meditations o...

                      author  year  \
0         Mark P. O. Morford  2002
1       Richard Bruce Wright  2001
2               Carlo D'Este  1991
3           Gina Bari Kolata  1999
4            E. J. W. Barber  1999
...                      ...   ...
271355        Paula Danziger  1988
271356            Teri Sloat  1991
271357      Christine Wicker  2004
271358                 Plato  1996
271359   Christopher  Biffle  2000

                                             publication  \
0                                Oxford University Press
1                                  HarperFlamingo Canada
2                                        HarperPerennial
3                                   Farrar Straus Giroux
4                             W. W. Norton &amp; Company
...                                                  ...
271355                   Random House Childrens Pub (Mm)
271356                                      Dutton Books
271357                                HarperSanFrancisco
271358                           Oxford University Press
271359  McGraw-Hill Humanities/Social Sciences/Languages

                                              Image-URL-S  \
0       http://images.amazon.com/images/P/0195153448.0...
1       http://images.amazon.com/images/P/0002005018.0...
2       http://images.amazon.com/images/P/0060973129.0...
3       http://images.amazon.com/images/P/0374157065.0...
4       http://images.amazon.com/images/P/0393045218.0...
...                                                   ...
271355  http://images.amazon.com/images/P/0440400988.0...
271356  http://images.amazon.com/images/P/0525447644.0...
271357  http://images.amazon.com/images/P/006008667X.0...
271358  http://images.amazon.com/images/P/0192126040.0...
271359  http://images.amazon.com/images/P/0767409752.0...

                                              Image-URL-M  \
0       http://images.amazon.com/images/P/0195153448.0...
1       http://images.amazon.com/images/P/0002005018.0...
2       http://images.amazon.com/images/P/0060973129.0...
3       http://images.amazon.com/images/P/0374157065.0...
4       http://images.amazon.com/images/P/0393045218.0...
...                                                   ...
271355  http://images.amazon.com/images/P/0440400988.0...
271356  http://images.amazon.com/images/P/0525447644.0...
271357  http://images.amazon.com/images/P/006008667X.0...
271358  http://images.amazon.com/images/P/0192126040.0...
271359  http://images.amazon.com/images/P/0767409752.0...

                                                  img_url
0       http://images.amazon.com/images/P/0195153448.0...
1       http://images.amazon.com/images/P/0002005018.0...
2       http://images.amazon.com/images/P/0060973129.0...
3       http://images.amazon.com/images/P/0374157065.0...
4       http://images.amazon.com/images/P/0393045218.0...
...                                                   ...
271355  http://images.amazon.com/images/P/0440400988.0...
271356  http://images.amazon.com/images/P/0525447644.0...
271357  http://images.amazon.com/images/P/006008667X.0...
271358  http://images.amazon.com/images/P/0192126040.0...
271359  http://images.amazon.com/images/P/0767409752.0...

[271360 rows x 8 columns]

In [14]:
users.shape

(278858, 3)

In [15]:
users.head(2)

   User-ID                   Location   Age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [16]:
ratings = pd.read_csv('data/BX-Book-Ratings.csv', sep=";", encoding='latin-1', on_bad_lines='skip', low_memory=False)

In [17]:
ratings = pd.read_csv('data//BX-Book-Ratings.csv', sep=";", encoding='latin-1', on_bad_lines='skip', low_memory=False)

In [18]:
print(ratings)

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [19]:
ratings.head(5)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [20]:
ratings.shape

(1149780, 3)

In [21]:
ratings.rename(columns={
    "User-ID": "user_id",
    "Book-Rating": "rating"}, inplace = True)

In [22]:
ratings.head()

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [23]:
books.head()

,ISBN,title,author,year,publication,Image-URL-S,Image-URL-M,img_url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [24]:
ratings['user_id'].value_counts()

user_id
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: count, Length: 105283, dtype: int64

In [25]:
ratings['user_id'].unique().shape

(105283,)

In [26]:
x = ratings['user_id'].value_counts() > 200

In [27]:
x

user_id
11676      True
198711     True
153662     True
98391      True
35859      True
          ...
116180    False
116166    False
116154    False
116137    False
276723    False
Name: count, Length: 105283, dtype: bool

In [28]:
x[x].shape

(899,)

In [29]:
x[x].shape

(899,)

In [60]:
y = x[x].index

In [62]:
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727, 268622,
       188951],
      dtype='int64', name='user_id', length=899)

In [76]:
ratings = ratings[ratings['user_id'].isin(y)]

In [78]:
ratings.head()

      user_id        ISBN  rating
1456   277427  002542730X      10
1457   277427  0026217457       0
1458   277427  003008685X       8
1459   277427  0030615321       0
1460   277427  0060002050       0

In [80]:
ratings.shape

(526356, 3)

In [82]:
ratings_with_books = ratings.merge(books, on = "ISBN")

In [84]:
ratings_with_books

,user_id,ISBN,rating,title,author,year,publication,Image-URL-S,Image-URL-M,img_url
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...,http://images.amazon.com/images/P/0026217457.0...,http://images.amazon.com/images/P/0026217457.0...
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,http://images.amazon.com/images/P/003008685X.0...,http://images.amazon.com/images/P/003008685X.0...,http://images.amazon.com/images/P/003008685X.0...
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,http://images.amazon.com/images/P/0030615321.0...,http://images.amazon.com/images/P/0030615321.0...,http://images.amazon.com/images/P/0030615321.0...
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,http://images.amazon.com/images/P/0060002050.0...,http://images.amazon.com/images/P/0060002050.0...,http://images.amazon.com/images/P/0060002050.0...
...,...,...,...,...,...,...,...,...,...,...
487666,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),http://images.amazon.com/images/P/1931868123.0...,http://images.amazon.com/images/P/1931868123.0...,http://images.amazon.com/images/P/1931868123.0...
487667,275970,3411086211,10,Die Biene.,Sybil Gr?fin Sch?nfeldt,1993,"Bibliographisches Institut, Mannheim",http://images.amazon.com/images/P/3411086211.0...,http://images.amazon.com/images/P/3411086211.0...,http://images.amazon.com/images/P/3411086211.0...
487668,275970,3829021860,0,The Penis Book,Joseph Cohen,1999,Konemann,http://images.amazon.com/images/P/3829021860.0...,http://images.amazon.com/images/P/3829021860.0...,http://images.amazon.com/images/P/3829021860.0...
487669,275970,4770019572,0,Musashi,Eiji Yoshikawa,1995,Kodansha International (JPN),http://images.amazon.com/images/P/4770019572.0...,http://images.amazon.com/images/P/4770019572.0...,http://images.amazon.com/images/P/4770019572.0...
487670,275970,9626340762,8,Northanger Abbey (Classic Literature with Clas...,Jane Austen,1996,Naxos Audiobooks Ltd.,http://images.amazon.com/images/P/9626340762.0...,http://images.amazon.com/images/P/9626340762.0...,http://images.amazon.com/images/P/9626340762.0...

In [86]:
ratings_with_books.shape

(487671, 10)

In [88]:
num_rating = ratings_with_books.groupby('title')['rating'].count().reset_index()

In [92]:
num_rating.head()

                                               title  rating
0   A Light in the Storm: The Civil War Diary of ...       2
1                              Always Have Popsicles       1
2               Apple Magic (The Collector's series)       1
3   Beyond IBM: Leadership Marketing and Finance ...       1
4   Clifford Visita El Hospital (Clifford El Gran...       1

In [98]:
num_rating.rename(columns = {'rating': "num_of_rating"}, inplace=True)

In [100]:
num_rating.head()

                                               title  num_of_rating
0   A Light in the Storm: The Civil War Diary of ...              2
1                              Always Have Popsicles              1
2               Apple Magic (The Collector's series)              1
3   Beyond IBM: Leadership Marketing and Finance ...              1
4   Clifford Visita El Hospital (Clifford El Gran...              1

In [102]:
final_rating = ratings_with_books.merge(num_rating, on='title')

In [106]:
final_rating.head(2)

,user_id,ISBN,rating,title,author,year,publication,Image-URL-S,Image-URL-M,img_url,num_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...,82
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...,http://images.amazon.com/images/P/0026217457.0...,http://images.amazon.com/images/P/0026217457.0...,7

In [110]:
final_rating = final_rating[final_rating['num_of_rating']>=50]

In [112]:
final_rating.head(2)

,user_id,ISBN,rating,title,author,year,publication,Image-URL-S,Image-URL-M,img_url,num_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...,http://images.amazon.com/images/P/002542730X.0...,82
13,277427,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,http://images.amazon.com/images/P/0060930535.0...,http://images.amazon.com/images/P/0060930535.0...,http://images.amazon.com/images/P/0060930535.0...,133

In [114]:
final_rating.shape

(61853, 11)

In [116]:
final_rating.drop_duplicates(['user_id','title'],inplace= True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_20720\1072690470.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_rating.drop_duplicates(['user_id','title'],inplace= True)

In [118]:
final_rating.shape

(59850, 11)

In [120]:
book_pivot = final_rating.pivot_table(columns='user_id',index='title',values='rating')

In [122]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [124]:
book_pivot.shape

(742, 888)

In [126]:
book_pivot.fillna(0,inplace = True)

In [128]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [130]:
from scipy.sparse import csr_matrix

In [132]:
book_sparse = csr_matrix(book_pivot)

In [134]:
book_sparse

<742x888 sparse matrix of type '<class 'numpy.float64'>'
	with 14961 stored elements in Compressed Sparse Row format>

In [140]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm='brute')

In [142]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [148]:
distance, suggestion = model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1), n_neighbors=6)

In [150]:
distance

array([[ 0.        , 67.75691847, 68.05145112, 72.277244  , 75.81556568,
        76.30203143]])

In [152]:
suggestion

array([[237, 238, 240, 241, 184, 536]], dtype=int64)

In [154]:
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
       'The Cradle Will Fall'],
      dtype='object', name='title')

In [156]:
books_name = book_pivot.index

In [158]:
books_name

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       '84 Charing Cross Road', 'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Cry In The Night',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='title', length=742)

In [160]:
import pickle
pickle.dump(model,open('artifacts/model.pkl','wb'))
pickle.dump(books_name,open('artifacts/books_name.pkl','wb'))
pickle.dump(final_rating,open('artifacts/final_rating.pkl','wb'))
pickle.dump(book_pivot,open('artifacts/book-pivot.pkl','wb'))

In [166]:
def recommend_book(book_name):
    book_id = nm.where(book_pivot.index == book_name)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6)
    for i in range(len(suggestion)):
        books = book_pivot.index[suggestion[i]]
        for j in books:
            print(j)

In [168]:
book_name = 'A Bend in the Road'
recommend_book(book_name)

A Bend in the Road
Exclusive
The Cradle Will Fall
No Safe Place
Family Album
Lake Wobegon days

In [2]:
recommendation_books, poster_url = recommend_books(selected_books)

NameError: name 'recommend_books' is not defined

In [4]:
recommendation_books, poster_url = recommend_book(selected_books)

NameError: name 'recommend_book' is not defined